body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
nav a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}
nav a:hover {
    color: red;
    text-decoration: underline;
}
.white-text {
    color: white;
}
hr {
    border: 0;
    border-top: 1px dashed white;
    width: 80%;
}
